.logo
  position absolute
  top 70px
  left 60px
  z-index 1
  a
    background url('/assets/images/logo.png') 100% 100% no-repeat
    width 70px
    height 30px
    display block
    text-indent -999px
    background-size contain

.icon-menu
  font-size 20px
  padding 6px 6px 5px
  border-radius 2px
  cursor pointer
  position absolute
  z-index 4
  right 60px
  top 70px
  margin-top -3px
  background-color rgba(255, 255, 255, .9)
#topArchive
  height 100%

#vibrant
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0,0,0,.28)

@media screen and (max-width: 780px) {
  #vibrant svg {
    display: none;
  }
}

// 顶部文章样式.
#topArchive-content
  position absolute
  top 42%
  left 10%
  width 28%
  .date 
    color #fff
    font-size 12px
  .title
    font-size 28px
    margin-top 15px
    font-weight 400
    a
      color #fff
      text-decoration none
  .description
    color #fff
    font-size 14px
    margin-top 30px
    line-height 18px

// 文章列表样式.
.archive-list-wrapper
  position relative
  overflow hidden
  &:before
    content ''
    display block
    width 1px
    height 200%
    position absolute
    top 0
    left 50%
    background-color #eaeaea
    z-index 0
  .archive-list
    position relative
    z-index 1
    .archive
      position relative
      width 1200px
      margin 100px auto 0
      > a
        display inline-block
        width 680px
        height 440px
        overflow hidden
        position relative
        z-index 3
        box-shadow 0 0 5px rgba(0,0,0,.5)
        img
          width 100%
          height 100%
          object-fit cover
      .archive-content
        position absolute
        background #fff
        text-align left
        top 20px
        height 398px
        width 498px
        border 1px solid rgba(6,6,6,.2)
        .archive-time
          color #999
          font-size 12px
          margin 80px 0 0 80px
        .archive-title
          font-size 30px
          line-height 110%
          margin 10px 100px 0 80px
          a
            color #333
            text-decoration none
            font-weight 400
        .archive-description
          color #555
          margin 10px 100px 0 80px
          font-size 14px
          line-height 1.8
        .archive-info
          position absolute
          left 80px
          bottom 80px
          color #999
          font-size 13px
          i 
            font-style normal
            display inline-block
            vertical-align middle
            margin-right 10px
            font-family "icomoon","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
            &:before
              display inline-block
              vertical-align top
              margin-right 7px
              font-size 16px
      &:nth-child(odd)
        text-align left
        .archive-content
          left 660px
      &:nth-child(even)
        text-align right
        .archive-content
          right 660px

.page-wapper
  text-align center
  margin 70px 0
  position relative
  .page
    border 1px solid #dadada
    margin 0 auto
    width 120px
    height 30px
    line-height 30px
    box-sizing content-box
    a
      display block
      font-size 14px
      letter-spacing 5px
      color #666
      background #fff
      text-decoration none 
  .more
    width 180px
    a
      width 89px
      float left
      &:nth-child(1)
        margin-left 1px
        border-right 1px solid #eaeaea
        
.nav
  position fixed
  height 100%
  width 100%
  background-color rgba(255, 255, 255, .97)
  z-index 3
  top -100%
  transition top 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9)

html, body
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  background: #fff;
  
body
  font-family "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
  font-size 14px

body.mu 
  overflow hidden
  height 100%
  .nav
    top 0
    a
      color #999
    p
      color #999
      font-size 11px
      position absolute
      width 100%
      text-align center
      bottom 30px
      &:first-letter
        font-family sans-serif

  .icon-menu 
    color #333
    &:before 
      content "\e609"
  .logo
    z-index 4
    a
      background url('/assets/images/archive-logo.png') 100% 100% no-repeat
      background-size contain

html.mu 
    height 100%

.menu 
  text-align center
  margin-top 200px
  li
    font-size 20px
    display inline-block
    margin 0 20px 20px 0
  a
    color #666
    letter-spacing 1px
    &:hover
      color #333
  a.pviewa
    text-decoration none
    &:hover
      color #333
#container
  position absolute
  top 0
  left 0
  width 100%
  height 100%