@media screen and (max-width: 480px)
  .logo
    top 30px
    left 20px
  
  .icon-menu
    right 20px
    top 30px
  
  .ibg-bg
    display none
  
  #cover
    visibility visible !important
    object-fit cover
    width 100%
    height 100%

  #topArchive-content
    top auto
    bottom 60px
    width 70%
    left 5%
  
  .menu
    width 80%
    margin 180px auto 0;
  
  .page-wapper
    margin 40px 0

  .article-wapper
    width: 90%;
    padding: 30px 0;
    h2
      font-size 20px
    .describe
      span.date
        display none
  
  .content
    font-size 12px !important
    margin-top 20px
    h1
      font-size 24px
    h2
      font-size 20px
    h3
      font-size 16px

    hr
      margin 10px 0
    blockquote
      padding 8px 10px
  .archive-list-wrapper .archive-list .archive
    width 100%
    margin-top 60px
    background #fff
    padding-bottom 30px
    border-bottom 1px solid #eaeaea
    a
      display block
      width 100%
      height auto
      box-shadow none
      img
        width 100%
        object-fit: contain;
    
    .archive-content
      height: auto;
      position: static;
      width: 96%;
      margin: 0 auto;
      background: transparent;
      border: none;
      .archive-time
        margin 30px 0 0 20px
      .archive-title
        font-size 24px
        margin 10px 30px 0 20px
      .archive-description
        margin 10px 30px 0 20px
      .archive-info
        position: static;
        margin: 20px 0 20px 20px;
  .relevant-wapper
    .relevant
      width 90%
      .relevant-header
        border-bottom 0
        em
          display: none
      .relevant-list
        display none

  .links-wapper
    width 90%
  ul.links
    li
      width 100%