.article-wapper
  width 700px
  margin 0 auto
  padding-top: 50px;
  h2
    margin-top 50px
    font-size 30px
    color #333
    line-height 1.3
    position relative
    font-weight bold
  .describe
    margin-top 20px
    font-size 13px
    color #666
    span 
      display inline-block
      margin-right 20px
      em
        font-style normal
  .content
    font-size 14px
    line-height 2
    color #333
    p
      padding 15px 0
    &:before
      content ''
      height 1px 
      width 100px
      background-color #eee
      display block
      margin 30px auto 40px

#comment
  margin 40px 0

/*
 * relevant
 */
.relevant-wapper
  background-color #fafafa
  padding 50px 0
  .relevant
    width 700px
    margin 0 auto
    .relevant-header
      font-size 12px
      position relative
      padding-bottom 10px
      border-bottom 1px solid #ddd
      color #333
      em
        font-style normal
        text-indent 10px
        letter-spacing 3px
        font-size 13px
      span
        position absolute
        right 0
      a
        text-decoration none
        color #666
        font-size 13px
        margin-left 14px
        display inline-block
  ul.relevant-list
    li
      list-style-type none
      padding 25px 0 32px
      border-bottom 1px solid #e8e8e8
      div
        display inline-block
      .article-left
        width 70%
        margin-right 2%
        vertical-align top
        a
          font-size 22px
          color #333
          line-height 1.3
          text-decoration none
        p
          font-size 14px
          color #666
          line-height 1.8
          margin-top 10px
      .article-right
        width 27%
        img 
          width 100%
          object-fit cover

/*
 * #top
 */

 #top 
   position fixed
   height 50px
   border-bottom 1px solid #f7f7f7
   background-color #fefefe
   text-align center
   width 100%
   top 0
   z-index 10
   .scrollbar
     position absolute
     height 2px
     width 0
     top 0
     background-color #50bcb6
     transition: width .5s ease;
    
   .archive-logo
      background url('/assets/images/archive-logo.png') 100% 100% no-repeat
      width 70px
      height 30px
      position absolute
      top 6px
      left 25px
      text-indent -999px
      background-size contain
      
   .subtitle
     color #666666
     font-size 14px
     margin-top 16px
     font-weight normal
     display none

  .right-iconbar
    position absolute
    right 0
    height 50px
    top 0
    
    a
      font-size 20px
      text-decoration none

    .like-this
      background url('/assets/images/heart.png') left no-repeat
      background-size cover
      width 50px
      height 50px
      float left

    .share
      position relative
      float left
      padding 15px 0
      a
        font-size 20px
        text-decoration none
        color #666
      .icon-wechat
        margin-right 25px
    
    .heartAnimation
      animation-name: heartBlast;
      animation-duration: .8s;
      animation-iteration-count: 1;
      animation-timing-function: steps(28); 
      background-position: right;

@keyframes heartBlast {  
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#qrcode
  position absolute
  right 0
  background-color #fff
  display none
  width 150px
  height 150px
  border 1px solid #ccc;
  margin-top 15px
  img 
    width 128px
    height 128px
    margin 11px auto